### Tarea

In [6]:
import numpy as np
import pandas as pd

## 1
Cree un DataFrame con la siguiente información de al menos 5 familiares o amigos: documento de identidad, nombres, apellidos, edad, ciudad de nacimiento, país de nacimiento, ciudad de residencia, país de residencia, ocupación o profesión, años de escolaridad.

Configure el campo "documento de identidad" como índice.

In [7]:
data = {
    'Documento de Identidad': ['123456789', '987654321', '456789123', '789123456', '321654987'],
    'Nombres': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Apellidos': ['Gómez', 'López', 'Martínez', 'Rodríguez', 'Sánchez'],
    'Edad': [30, 25, 35, 28, 40],
    'Ciudad de Nacimiento': ['Bogotá', 'Madrid', 'México DF', 'Buenos Aires', 'Lima'],
    'País de Nacimiento': ['Colombia', 'España', 'México', 'Argentina', 'Perú'],
    'Ciudad de Residencia': ['Medellín', 'Barcelona', 'Ciudad de México', 'Buenos Aires', 'Lima'],
    'País de Residencia': ['Colombia', 'España', 'México', 'Argentina', 'Perú'],
    'Ocupación o Profesión': ['Ingeniero', 'Médico', 'Abogado', 'Profesor', 'Empresario'],
    'Años de Escolaridad': [16, 18, 20, 15, 14]
}

df = pd.DataFrame(data)

df.set_index('Documento de Identidad', inplace=True)

df

,Nombres,Apellidos,Edad,Ciudad de Nacimiento,País de Nacimiento,Ciudad de Residencia,País de Residencia,Ocupación o Profesión,Años de Escolaridad
Documento de Identidad,,,,,,,,,
123456789,Juan,Gómez,30,Bogotá,Colombia,Medellín,Colombia,Ingeniero,16
987654321,María,López,25,Madrid,España,Barcelona,España,Médico,18
456789123,Pedro,Martínez,35,México DF,México,Ciudad de México,México,Abogado,20
789123456,Ana,Rodríguez,28,Buenos Aires,Argentina,Buenos Aires,Argentina,Profesor,15
321654987,Luis,Sánchez,40,Lima,Perú,Lima,Perú,Empresario,14

## 2
Genere un arreglo aleatorio de numpy de tamaño 10 x 8, que tenga distribución normal con media 0 y desviación estándar 1, y con este cree un DataFrame.

In [8]:
arreglo_aleatorio = np.random.normal(loc=0, scale=1, size=(10, 8))
df = pd.DataFrame(arreglo_aleatorio)

df

,0,1,2,3,4,5,6,7
0,-1.029783,-1.237677,-0.150512,-0.639593,-0.181786,0.850052,0.019086,-0.487626
1,-0.119391,0.671437,-0.596894,0.592907,0.307354,-0.332659,0.045853,-0.604689
2,-0.502978,0.699056,-0.274078,-0.048030,-0.070155,-0.744525,-0.354698,0.260338
3,0.371584,-0.177484,0.206599,0.967900,-1.683233,0.388282,-0.400393,-0.001312
4,-1.452768,-0.310453,-1.792703,-0.667561,1.602389,0.054877,0.289785,-0.110431
5,0.289327,0.473187,1.721682,1.114464,1.521045,-0.089690,0.369174,-0.222724
6,-0.803161,1.204447,1.432591,0.917275,0.942764,0.030918,-0.828252,-1.332912
7,0.415657,-2.082212,-0.203604,-1.631093,-0.485456,-0.084170,-0.683418,-0.127640
8,0.582152,0.542412,-0.006844,-1.275028,-0.132471,0.371940,0.222124,-3.156026
9,-2.451050,-0.195823,-1.609105,0.358273,-0.681066,0.047370,0.855655,-1.699647

## 3
Ahora genere 3 columnas nuevas que contengan la suma, el promedio y la desviación estándar de los elementos de cada fila.

In [14]:
df['Suma'] = df.sum(axis=1)
df['Promedio'] = df.mean(axis=1)
df['Desviación estándar'] = df.std(axis=1)

df

,0,1,2,3,4,5,6,7,Suma,Promedio,Desviación estándar
0,-1.029783,-1.237677,-0.150512,-0.639593,-0.181786,0.850052,0.019086,-0.487626,-7.049914,-0.854492,2.161118
1,-0.119391,0.671437,-0.596894,0.592907,0.307354,-0.332659,0.045853,-0.604689,0.505319,0.129432,0.527107
2,-0.502978,0.699056,-0.274078,-0.048030,-0.070155,-0.744525,-0.354698,0.260338,-1.319890,-0.124265,0.663651
3,0.371584,-0.177484,0.206599,0.967900,-1.683233,0.388282,-0.400393,-0.001312,0.309846,0.084562,0.725015
4,-1.452768,-0.310453,-1.792703,-0.667561,1.602389,0.054877,0.289785,-0.110431,-0.115753,-0.124627,0.967600
5,0.289327,0.473187,1.721682,1.114464,1.521045,-0.089690,0.369174,-0.222724,6.149348,1.073300,1.766592
6,-0.803161,1.204447,1.432591,0.917275,0.942764,0.030918,-0.828252,-1.332912,1.570814,0.327883,0.987173
7,0.415657,-2.082212,-0.203604,-1.631093,-0.485456,-0.084170,-0.683418,-0.127640,-12.070639,-1.514419,3.597421
8,0.582152,0.542412,-0.006844,-1.275028,-0.132471,0.371940,0.222124,-3.156026,-2.851741,-0.633720,1.372046
9,-2.451050,-0.195823,-1.609105,0.358273,-0.681066,0.047370,0.855655,-1.699647,-5.375391,-1.194531,1.792059

## 4
Por último, filtre las filas cuya media es mayor a 0, y genere un nuevo DataFrame que contenga la suma, el promedio y la desviación estándar de los elementos de cada columna.

In [10]:
df['Promedio'] = df.mean(axis=1)

df_filtrado = df.loc[df['Promedio'] > 0]

suma_columnas = df_filtrado.sum()
promedio_columnas = df_filtrado.mean()
desviacion_std_columnas = df_filtrado.std()

nuevo_df = pd.DataFrame({
    'Suma': suma_columnas,
    'Promedio': promedio_columnas,
    'Desviación estándar': desviacion_std_columnas
})

nuevo_df

                         Suma  Promedio  Desviación estándar
0                   -0.633224 -0.211075             0.551985
1                    2.349071  0.783024             0.378185
2                    2.557379  0.852460             1.263473
3                    2.624646  0.874882             0.263350
4                    2.771163  0.923721             0.607070
5                   -0.391431 -0.130477             0.185189
6                   -0.413224 -0.137741             0.619465
7                   -2.160325 -0.720108             0.564022
Suma                 6.704055  2.234685             2.670273
Promedio             1.630617  0.543539             0.588836
Desviación estándar  3.038889  1.012963             0.560265